/*
Enter Here your Custom CSS Style!!
*/


.image-wrap img:last-child {
    display: none;  
  }
  .image-wrap:hover img:last-child {
    display: block; 
     
  }
  .image-wrap:hover img:first-child {
    display: none;  
  }